*.pmtiles filter=lfs diff=lfs merge=lfs -text
android/app/src/main/assets/routing/*.rgm.gz filter=lfs diff=lfs merge=lfs -text
android/app/src/main/assets/routing/*.rgmz filter=lfs diff=lfs merge=lfs -text
